<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bingham University Students Fellowship Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'%}" rel="icon">
  <link href="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'base/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'base/assets/css/main.css'%}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Append
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <!--<a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">-->
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="{% static 'base/assets/img/Bimg/BHUSF LOGO.png'%}" alt="" height="60px" width="auto">
        <img src="C:\Users\DOBUY GADGETS\Downloads\imageedit_2_8599255544.png'%}" alt="">
        <h1 style="font-size: 20px;">BINGHAM UNIVERSITY STUDENTS FELLOWSHIP (BHUSF)</h1>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#faq">BHUSF Messages</a></li>
          <li><a href="#recent-posts">Events</a></li>
          <li><a href="#team">Executives</a></li>
          
          
          <!-- <li class="dropdown has-dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown has-dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                <ul class="dd-box-shadow">
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li> -->
            <!-- </ul> -->
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="{{ bg.image.url }}" alt="" data-aos="fade-in">

      <div class="container" >
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">This is BHUSF</h2>
            
          </div>
          <!-- <div class="col-lg-5"> -->
            <!-- <form action="#" class="sign-up-form d-flex" data-aos="fade-up" data-aos-delay="300"> -->
              <!-- <input type="text" class="form-control" placeholder="Enter email address"> -->
              <!-- <input type="submit" class="btn btn-primary" value="Sign up"> -->
            <!-- </form> -->
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->

    <!-- Clients Section - Home Page -->
    <!-- <section id="clients" class="clients"> -->

      <!-- <div class="container-fluid" data-aos="fade-up"> -->

        <!-- <div class="row gy-4"> -->

          <!-- <div class="col-xl-2 col-md-3 col-6 client-logo"> -->
            <!-- <img src="assets/img/clients/client-1.png'%}" class="img-fluid" alt=""> -->
          </div><!-- End Client Item -->

          <!-- <div class="col-xl-2 col-md-3 col-6 client-logo"> -->
            <!-- <img src="assets/img/clients/client-2.png'%}" class="img-fluid" alt=""> -->
          </div><!-- End Client Item -->

          <!-- <div class="col-xl-2 col-md-3 col-6 client-logo"> -->
            <!-- <img src="assets/img/clients/client-3.png'%}" class="img-fluid" alt=""> -->
          </div><!-- End Client Item -->

          <!-- <div class="col-xl-2 col-md-3 col-6 client-logo"> -->
            <!-- <img src="assets/img/clients/client-4.png'%}" class="img-fluid" alt=""> -->
          </div><!-- End Client Item -->

          <!-- <div class="col-xl-2 col-md-3 col-6 client-logo"> -->
            <!-- <img src="assets/img/clients/client-5.png'%}" class="img-fluid" alt=""> -->
          </div><!-- End Client Item -->

          <!-- <div class="col-xl-2 col-md-3 col-6 client-logo"> -->
            <!-- <img src="assets/img/clients/client-6.png'%}" class="img-fluid" alt=""> -->
          </div><!-- End Client Item -->

        </div>

      </div>

    </section><!-- End Clients Section -->

    <!-- About Section - Home Page -->
    <section id="about-us" class="about-us">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>The Bingham University Student Fellowship</h2>
            <p>Is an interdenominational gathering of Christian youths of Bingham University, with the sole purpose of worship, praying and praising God irrespective of denomination.</p>
            <a href="{% url 'about' %}" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  
                  <h3>Mission Statement</h3>
                  <p>To carefully and prayerfully empower Bingham University students with the realization of the excellence they have in Christ Jesus </p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  
                  <h3>Vision</h3>
                  <p>Raising Bingham University Students to have an understanding of God and to discover the purpose for which they were created.</p>
                </div>
              </div> <!-- End Icon Box -->

              

            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

        </div>

      </div>

    </section><!-- End Stats Section -->

    
    

    <!-- Features Section - Home Page -->
    <section id="features" class="features">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Featured</h2>  <!--show events that are active. add an isFeatured field to events and event description-->
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">

          
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h3>{{event1.name}}</h3>
            <p>
              {{event1.description}}
            </p>
            
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            
              <a href="{%url 'eventDetails' event1.slug%}" >
              <img src="{{event1.image.url}}" alt="" class="stack-front" width="80%">
              </a>
              
            </div>
          </div>
          
        </div><!-- Features Item -->

        
      </div>

    </section><!-- End Features Section -->

    <!-- Featured images Section - Home Page -->
    <section id="portfolio" class="portfolio">

      <!--there will be featured images in this section. Add a db table for featured images and have isActive field
      also animate the pics. Find how to make em fade and change. Should be the last thing i do-->
      <!--  Section Title -->

    <!-- Pricing Section - Home Page -->
    <!-- <section id="pricing" class="pricing"> -->

      <!--  Section Title -->
      <!-- <div class="container section-title" data-aos="fade-up"> -->
        <!-- <h2>Pricing</h2> -->
        <!-- <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p> -->
      </div><!-- End Section Title -->

      <!-- <div class="container" data-aos="zoom-in" data-aos-delay="100"> -->

        <!-- <div class="row g-4"> -->

          <!-- <div class="col-lg-4"> -->
            <!-- <div class="pricing-item"> -->
              <!-- <h3>Free Plan</h3> -->
              <!-- <div class="icon"> -->
                <!-- <i class="bi bi-box"></i> -->
              <!-- </div> -->
              <!-- <h4><sup>$</sup>0<span> / month</span></h4> -->
              <!-- <ul> -->
                <!-- <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li> -->
                <!-- <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li> -->
                <!-- <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li> -->
              <!-- </ul> -->
              <!-- <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div> -->
            </div>
          </div><!-- End Pricing Item -->

          <!-- <div class="col-lg-4"> -->
            <!-- <div class="pricing-item featured"> -->
              <!-- <h3>Business Plan</h3> -->
              <!-- <div class="icon"> -->
                <!-- <i class="bi bi-rocket"></i> -->
              <!-- </div> -->

              <!-- <h4><sup>$</sup>29<span> / month</span></h4> -->
              <!-- <ul> -->
                <!-- <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li> -->
              <!-- </ul> -->
              <!-- <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div> -->
            <!-- </div> -->
          <!-- </div>End Pricing Item -->

          <!-- <div class="col-lg-4"> -->
            <!-- <div class="pricing-item"> -->
              <!-- <h3>Developer Plan</h3> -->
              <!-- <div class="icon"> -->
                <!-- <i class="bi bi-send"></i> -->
              <!-- </div> -->
              <!-- <h4><sup>$</sup>49<span> / month</span></h4> -->
              <!-- <ul> -->
                <!-- <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li> -->
                <!-- <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li> -->
              <!-- </ul> -->
              <!-- <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div> -->
            <!-- </div> -->
          </div><!-- End Pricing Item -->

        </div>

      </div>

    </section><!-- End Pricing Section -->

    <!-- Faq Section - Home Page -->
    <section id="faq" class="faq">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span> BHUSF </span><strong>Messages</strong></h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
              </p>
            </div>
          </div>

          <div class="col-lg-8" data-aos="fade-up" data-aos-delay="200">
            <a href="{%url 'messages'%}">
              <img src="{%static 'base/assets/img/Bimg/messge.jpg'%}" width="60%">
            </a>
            
              

            

              <!--<a href="#" class="btn btn-get-started" style="background-color: var(--accent-color);
              color: var(--contrast-color);
              padding: 8px 30px 10px 30px;
              border-radius: 4px;">View All</a>-->

            </div>

          </div>
        </div>

      </div>

    </section><!-- End Faq Section -->

    <section id="recent-posts" class="recent-posts">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Events</h2>
        
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          {% for event in events %}
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>

              <div class="post-img">
                <a href="{%url 'eventDetails' event.slug %}">
                <img src="{{event.image.url}}" alt="" class="img-fluid">
                </a>
              </div>

              <h2 class="title">
                {{event.name}}
              </h2>

              <div class="d-flex align-items-center">
                
                <div class="post-meta">
                  <p class="post-author">{{event.subdescription}}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{event.date}}</time>
                  </p>
                </div>
              </div>

            </article>
          </div><!-- End post list item -->

          
          {%endfor%}

          

          

        </div>
        <div style="margin: 0px; padding: 0px; align-content: center; justify-content: center;">
          <a href="{% url 'events' %}" class="btn btn-get-started" style="background-color: var(--accent-color);
              color: var(--contrast-color);
              padding: 8px 30px 10px 30px;
              border-radius: 4px;
              max-width: 200px;">View All</a>
        </div>
        



    <!-- Team Section - Home Page -->
    <section id="team" class="team">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>BHUSF Executives</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="{% static 'base/assets/img/team/team-1.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <!--<a href="#"><i class="bi bi-facebook"></i></a>-->
                <a href="#"><i class="bi bi-instagram"></i></a>
                
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>Aliquam iure quaerat voluptatem praesentium possimus unde laudantium vel dolorum distinctio dire flow</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="{% static 'base/assets/img/team/team-2.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
              <p>Labore ipsam sit consequatur exercitationem rerum laboriosam laudantium aut quod dolores exercitationem ut</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="{% static 'base/assets/img/team/team-3.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <p>Illum minima ea autem doloremque ipsum quidem quas aspernatur modi ut praesentium vel tque sed facilis at qui</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="{% static 'base/assets/img/team/team-4.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <p>Magni voluptatem accusamus assumenda cum nisi aut qui dolorem voluptate sed et veniam quasi quam consectetur</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="{% static 'base/assets/img/team/team-5.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Brian Doe</h4>
              <span>Marketing</span>
              <p>Qui consequuntur quos accusamus magnam quo est molestiae eius laboriosam sunt doloribus quia impedit laborum velit</p>
            </div>
          </div><!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="{% static 'base/assets/img/team/team-6.jpg'%}" class="img-fluid" alt="">
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Josepha Palas</h4>
              <span>Operation</span>
              <p>Sint sint eveniet explicabo amet consequatur nesciunt error enim rerum earum et omnis fugit eligendi cupiditate vel</p>
            </div>
          </div><!-- End Team Member -->

        </div>

      </div>

    </section><!-- End Team Section -->

   

    <!-- Testimonials Section - Home Page -->
    <section id="testimonials" class="testimonials">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Testimonies</h3>
            <p>
              Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
              velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
            </p>
          </div>
          
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }
              </script>
              <div class="swiper-wrapper">

                {% for test in tests %}
                <div class="swiper-slide">
                  <a href="{% url 'testimonies' %}">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <div>
                        <h3>{{test.testifier}}</h3>
                        <h4>{{test.date}}</h4>
                        
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>{{test.testimony}}</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
              </a>
                {%endfor%}

              </div>
              
              <div class="swiper-pagination"></div>
            </div>

            
          </div>

        </div>
        <!--<a href="#" class="muhbutton" style="background-color: var(--accent-color);
            color: var(--contrast-color);
            padding: 8px 30px 10px 30px;
            margin: 8px 30px 10px 30px ;
            border-radius: 4px;">View All</a>-->


      </div>

    </section><!-- End Testimonials Section -->

    <!-- Recent-posts Section - Home Page -->
    <!-- End recent posts list -->

      </div>

    </section><!-- End Recent-posts Section -->

    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div class="col-lg-6" style="display: inline;">

            <div class="row gy-4" style="display: flex; flex-direction: row;">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>A108 Adam Street</p>
                  <p>New York, NY 535022</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+1 5589 55488 55</p>
                  <p>+1 6678 254445 41</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-telegram"></i>
                  <h3>Find us on telegram</h3>
                  <a href="">@bhusf</a>
                </div>
              </div><!-- End Info Item -->


              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-instagram"></i>
                  <h3>Follow us on instagram</h3>
                  <a href="" >@_bhusf</a>
                </div>
              </div><!-- End Info Item -->

              <img src="{%static 'base/assets/img/praise.JPG'%}">

              
            </div>

          </div>

          

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Append</span>
          </a>
             <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
  <script src="{% static 'base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'base/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'base/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'base/assets/js/main.js'%}"></script>

</body>

</html>