<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bingham University Students Fellowship Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'%}" rel="icon">
  <link href="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'}" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'base/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'base/assets/css/main.css'%}" rel="stylesheet">

 <style>
  #audioMessagePic:hover {
    width: 60px;
    height: 60px;

  }

  .btn-get-started {
    background-color: var(--accent-color);
    color: var(--contrast-color);
    padding: 8px 30px;
    border-radius: 4px;
}
.btn-get-started:hover {
  color:var(--accent-color);
  background-color: var(--contrast-color)
}


 
 </style>
</head>

<body class="index-page" data-bs-spy="scroll" data-bs-target="#navmenu">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <!--<a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">-->
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'  %}" alt="" height="45px" width="auto">
         <h1 style="font-size: 20px;">Bingham University Students Fellowship (BHUSF) </h1>
        </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#messages">Messages</a></li>
          <li><a href="#events">Events</a></li>
          <li><a href="#testimonies">Testimonies</a></li>
          <li><a href="#executives">Executives</a></li>
          
          
          <!-- <li class="dropdown has-dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown has-dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                <ul class="dd-box-shadow">
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li> -->
            <!-- </ul> -->
          </li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- Hero Section - Home Page -->
    <section id="hero" class="hero">

      <img src="{{ bg.image.url }}" alt="" data-aos="fade-in">

      <div class="container" >
        <div class="row">
          <div class="col-lg-10">
            <h2 data-aos="fade-up" data-aos-delay="100" style="text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;">Welcome to Students Fellowship</h2>
            
          </div>
       
          </div>
        </div>
      </div>

    </section><!-- End Hero Section -->

   

        </div>

      </div>

    </section><!-- End Clients Section -->

    <!-- About Section - Home Page -->
    <section id="about-us" class="about-us">

      <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="row align-items-xl-center gy-5">

          <div class="col-xl-5 content">
            <h3>About Us</h3>
            <h2>The Bingham University Student Fellowship</h2>
            <p>Is an interdenominational gathering of Christian youths of Bingham University, with the sole purpose of worship, praying and praising God irrespective of denomination.</p>
            <a href="{% url 'about' %}" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
          </div>

          <div class="col-xl-7">
            <div class="row gy-4 icon-boxes">

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                <div class="icon-box">
                  
                  <h3>Mission Statement</h3>
                  <p>To carefully and prayerfully empower Bingham University students with the realization of the excellence they have in Christ Jesus </p>
                </div>
              </div> <!-- End Icon Box -->

              <div class="col-md-6" data-aos="fade-up" data-aos-delay="300">
                <div class="icon-box">
                  
                  <h3>Vision</h3>
                  <p>Raising Bingham University Students to have an understanding of God and to discover the purpose for which they were created.</p>
                </div>
              </div> <!-- End Icon Box -->

              

            </div>
          </div>

        </div>
      </div>

    </section><!-- End About Section -->

        </div>

      </div>

    </section><!-- End Stats Section -->

    
    

    <!-- Features Section - Home Page -->
    <section id="features" class="features">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Featured</h2>  <!--show events that are active. add an isFeatured field to events and event description-->
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4 align-items-center features-item">

          
          <div class="col-lg-5 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h3>{{event1.name}}</h3>
            <p>
              {{event1.description|safe}}
            </p>
            
          </div>
          <div class="col-lg-7 order-1 order-lg-2 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="100">
            
              <a href="{%url 'eventDetails' event1.slug%}" >
              <img src="{{event1.image.url}}" alt="" class="img-fluid">
              </a>
              
            </div>
          </div>
          
        </div><!-- Features Item -->

        
      </div>

    </section><!-- End Features Section -->

  
    <!-- Faq Section - Home Page -->
    <section id="messages" class="faq">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
            <div class="content px-xl-5">
              <h3><span> BHUSF </span><strong>Messages</strong></h3>
              <p>
                Audio Messages of BHUSF is available for download and to listen online. Every message is rich and edifying in the word and will certainly bless you.
              </p>
              <br>
              <a href="{%url 'messages'%}" class="btn btn-get-started" >View All</a>
            </div>
          </div>

          <div  class="col-lg-8 grow" data-aos="fade-up" data-aos-delay="200">
            <a  href="{%url 'messages'%}">
              <img src="{{ messagepic.image.url }}" class="img-fluid">
            </a>
            
      
            </div>

          </div>
        </div>

      </div>

    </section><!-- End Faq Section -->

    <section id="events" class="recent-posts">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Events</h2>
        
      </div><!-- End Section Title -->

      <div class="container">

        <div class="row gy-4">

          {% for event in events %}
          <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <article>
              <div class="post-img">
                <a href="{%url 'eventDetails' event.slug %}">
                <img src="{{event.image.url}}" alt="" class="img-fluid">
                </a>
              </div>
              <h2 class="title">
                {{event.name}}
              </h2>
              <div class="d-flex align-items-center">
                <div class="post-meta">
                  <p class="post-author">{{event.subdescription}}</p>
                  <p class="post-date">
                    <time datetime="2022-01-01">{{event.date}}</time>
                  </p>
                </div>
              </div>
            </article>
          </div><!-- End post list item -->
          {%endfor%}


          

          <div style=" ">
            <a href="{% url 'events' %}" class="btn btn-get-started"  style="float:right">View All</a>
          </div>
          

        </div>
    
        
<br><br><br>

    <!-- Team Section - Home Page -->
    <section id="executives" class="team">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>BHUSF Executives</h2>
        <p>For the practical administration of the BHUSF, the structure of the BHUSF shall consist of the following</p>
      </div><!-- End Section Title -->

             
      <div class="container">
        <div class="row justify-content-center">
      {% for exec in execs %}

      <div class="col-lg-4 col-md-6 col-sm-12 mb-4"> <!-- Use smaller columns for responsiveness -->
        <div class="card shadow-sm">
            <div class="card-body text-center">
                <!-- <img src="{{exec.image.url}}" class="img-fluid" alt="" style="max-width: 100%; height: 200px; object-fit: cover; border-radius: 0.5rem;"> -->
                <div style="width: 200px; height: 200px; overflow: hidden; border-radius: 50%; margin: 0 auto;"> <!-- Circle container -->
                  <img src="{{exec.image.url}}" class="img-fluid" alt="" style="width: 100%; height: 100%; object-fit: cover;"> <!-- Image fills the circle -->
              </div>
                <h4 class="card-title mt-3">{{exec.fullName}}</h4>
                <h6 class="card-subtitle mb-2 text-muted">{{exec.portfolio}}</h6>
                <p class="card-text">{{exec.description}}</p>
            </div>
        </div>
    </div>
            {%endfor%}
        </div>
    </div>
    
      
    


    </section><!-- End Team Section -->

   

    <!-- Testimonials Section - Home Page -->
    <section id="testimonies" class="testimonials">

      <div class="container">

        <div class="row align-items-center">

          <div class="col-lg-5 info" data-aos="fade-up" data-aos-delay="100">
            <h3>Testimonies</h3>
            <p style="color: #b47c7c;">
            And they overcame him by the blood of the Lamb, and by the word of their testimony;
            </p>
            <p>Read through what the Lord has been doing in the fellowship.</p>
          </div>
          
          <div class="col-lg-7" data-aos="fade-up" data-aos-delay="200">

            <div class="swiper">
              <script type="application/json" class="swiper-config">
                {
                  "loop": true,
                  "speed": 600,
                  "autoplay": {
                    "delay": 5000
                  },
                  "slidesPerView": "auto",
                  "pagination": {
                    "el": ".swiper-pagination",
                    "type": "bullets",
                    "clickable": true
                  }
                }  
              </script>
              <div class="swiper-wrapper">

                {% for test in tests %}
                <div class="swiper-slide">
                  <div class="testimonial-item">
                    <div class="d-flex">
                      <div>
                        <h3>{{test.testifier}}</h3>
                        <h4>{{test.date}}</h4>
                        
                      </div>
                    </div>
                    <p>
                      <i class="bi bi-quote quote-icon-left"></i>
                      <span>{{test.testimony}}</span>
                      <i class="bi bi-quote quote-icon-right"></i>
                    </p>
                  </div>
                </div><!-- End testimonial item -->
                {%endfor%}

              </div>
              
              <div class="swiper-pagination"></div>
            </div>

            
          </div>

        </div>
        <!--<a href="#" class="muhbutton" style="background-color: var(--accent-color);
            color: var(--contrast-color);
            padding: 8px 30px 10px 30px;
            margin: 8px 30px 10px 30px ;
            border-radius: 4px;">View All</a>-->


      </div>

    </section><!-- End Testimonials Section -->

    <!-- Recent-posts Section - Home Page -->
    <!-- End recent posts list -->

      </div>

    </section><!-- End Recent-posts Section -->

    <!-- Contact Section - Home Page -->
    <section id="contact" class="contact">

      <!--  Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Contact</h2>
        <p>Feel free to reach out to the fellowship for a need or any enquiry</p>
      </div><!-- End Section Title -->

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

          <div  style="display: inline;">

            <div class="row gy-4" style="display: flex; flex-direction: row;">
              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="200">
                  <i class="bi bi-geo-alt"></i>
                  <h3>Address</h3>
                  <p>Bingham University,</p>
                  <p>Chapel Auditorium Basement.</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="300">
                  <i class="bi bi-telephone"></i>
                  <h3>Call Us</h3>
                  <p>+234 814 513 7313</p>
                  <p>+234 810 681 4231</p>
                </div>
              </div><!-- End Info Item -->

              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-telegram"></i>
                  <h3>Find us on telegram</h3>
                  <a target="_blank" href="https://t.me/+f4CoVbNPsvEzNjhk">@bhusf</a>
                </div>
              </div><!-- End Info Item -->


              <div class="col-md-6">
                <div class="info-item" data-aos="fade" data-aos-delay="400">
                  <i class="bi bi-instagram"></i>
                  <h3>Follow us on instagram</h3>
                  <a  target="_blank" href="https://www.instagram.com/_bhusf/">@_bhusf</a>
                </div>
              </div><!-- End Info Item -->


              
            </div>

          </div>

          

        </div>

      </div>

    </section><!-- End Contact Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>BHUSF</span>
          </a>
             <div class="social-links d-flex mt-4">
            <!-- <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a> -->
            <a href="https://www.instagram.com/_bhusf/"><i class="bi bi-instagram"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#hero" class="active">Home</a></li>
            <li><a href="#about-us">About Us</a></li>
            <li><a href="#messages">Messages</a></li>
            <li><a href="#events">Events</a></li>
            <li><a href="#testimonies">Testimonies</a></li>
            <li><a href="#executives">Executives</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Worship Days(Every Week)</h4>
          <ul>
            <li>Wednesday 6:30PM</li>
            <li>Friday 6:30PM</li>
          </ul>
        </div>

     

      </div>
    </div>

  

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <!-- <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div> -->

  <!-- Vendor JS Files -->
  <script src="{% static 'base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
  <script src="{% static 'base/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
  <script src="{% static 'base/assets/vendor/aos/aos.js'%}"></script>
  <script src="{% static 'base/assets/vendor/php-email-form/validate.js'%}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'base/assets/js/main.js'%}"></script>

</body>

</html>