<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Bingham University Student Fellowship Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'%}" rel="icon">
  <link href="{% static 'base/assets/img/Bimg/BHUSFLOGO.png'}" rel="apple-touch-icon">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'base/assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
  <link href="{% static 'base/assets/vendor/aos/aos.css'%}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'base/assets/css/main.css'%}" rel="stylesheet">


  <!-- =======================================================
  * Template Name: Append
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Updated: Mar 17 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="blog-details-page" data-bs-spy="scroll" data-bs-target="#navmenu" style="display: inline;">

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container-fluid d-flex align-items-center justify-content-between">

      <!--<a href="index.html" class="logo d-flex align-items-center me-auto me-xl-0">-->
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <img src="{% static 'base/assets/img/Bimg/BHUSF LOGO.png'%}" alt="" height="60px" width="auto">
        <img src="C:\Users\DOBUY GADGETS\Downloads\imageedit_2_8599255544.png" alt="">
        <h1 style="font-size: 20px;">BINGHAM UNIVERSITY STUDENTS FELLOWSHIP (BHUSF)</h1>
      </a>

      <!-- Nav Menu -->
      <nav id="navmenu" class="navmenu" style="margin-bottom: 10px;">
        <ul>
          <li><a href="{% url 'index'%}" class="active">Home</a></li>
            <li><a href="{% url 'about'%}">About Us</a></li>
            <li><a href="{% url 'messages'%}">BHUSF Messages</a></li>
      
            <li><a href="{% url 'index'%}">Executives</a></li>
            <li><a href="{% url 'events'%}" class="active">Events</a></li>
          
          
          <!-- <li class="dropdown has-dropdown"><a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
            <ul class="dd-box-shadow">
              <li><a href="#">Dropdown 1</a></li>
              <li class="dropdown has-dropdown"><a href="#"><span>Deep Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                <ul class="dd-box-shadow">
                  <li><a href="#">Deep Dropdown 1</a></li>
                  <li><a href="#">Deep Dropdown 2</a></li>
                  <li><a href="#">Deep Dropdown 3</a></li>
                  <li><a href="#">Deep Dropdown 4</a></li>
                  <li><a href="#">Deep Dropdown 5</a></li>
                </ul>
              </li>
              <li><a href="#">Dropdown 2</a></li>
              <li><a href="#">Dropdown 3</a></li>
              <li><a href="#">Dropdown 4</a></li> -->
            <!-- </ul> -->
          </li>
        
        </ul>

        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav><!-- End Nav Menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- End Page Title -->

    <!-- Blog-details Section - Blog Details Page -->
    <section id="blog-details" class="blog-details">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row g-5">

          <div class="col-lg-8" style="position: relative; left: 120px; width: 70vw; max-width: 70vw; max-height: auto; height: auto;">

            <article class="article">

              

              <h2 class="title">{{testimony.title}}</h2>
              <p><i>{{testimony.testifier}}</i></p>

              

              <div class="content">
                
                <blockquote>
                  <p>
                    {{testimony.testimony}}
                  </p>
                </blockquote>

                

              </div><!-- End post content -->

             

            </article><!-- End post article -->

            
                  

            <!-- End blog comments -->

          </div>

          

            

        </div>

      </div>

    </section><!-- End Blog-details Section -->

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span>Append</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Terms of service</a></li>
            <li><a href="#">Privacy policy</a></li>
          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Web Design</a></li>
            <li><a href="#">Web Development</a></li>
            <li><a href="#">Product Management</a></li>
            <li><a href="#">Marketing</a></li>
            <li><a href="#">Graphic Design</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>&copy; <span>Copyright</span> <strong class="px-1">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer><!-- End Footer -->

  <!-- Scroll Top Button -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Vendor JS Files -->
<script src="{% static 'base/assets/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'base/assets/vendor/glightbox/js/glightbox.min.js'%}"></script>
<script src="{% static 'base/assets/vendor/purecounter/purecounter_vanilla.js'%}"></script>
<script src="{% static 'base/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js'%}"></script>
<script src="{% static 'base/assets/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
<script src="{% static 'base/assets/vendor/swiper/swiper-bundle.min.js'%}"></script>
<script src="{% static 'base/assets/vendor/aos/aos.js'%}"></script>
<script src="{% static 'base/assets/vendor/php-email-form/validate.js'%}"></script>

<!-- Template Main JS File -->
<script src="{% static 'base/assets/js/main.js'%}"></script>


</body>

</html>